
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

ul{
  display: flex;
  flex-direction: row;
  width:min-content;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
  padding: 0;
}

li{
  margin: 0 10px;
  font-weight: bold;
  display: inline-block;
}

li a{
  color: rgb(24, 206, 238);
}

li a.active{
  color: rgb(0, 90, 106);
}

li a:hover{
  color: rgb(0, 90, 106);
}

.pageTitle{
  font-size: 2em;
  text-align: center;
  color: palevioletred;
}

button{
  font-size: 0.8em;
}

input[type=text]{
  font-size: 0.8em;
}

table{
  display: inline-block;
  border-collapse: collapse; 
}
tr{
  border-bottom: 1px solid black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
